h1 {
    font-size: 120px;
    text-align: center;

}

body {
    background-color: aliceblue;

}
button:hover{
    zoom: 200%;
}
a{
    text-decoration: none;
}

a:hover {

   background-color: black;
   color: aqua;
   text-decoration: underline;


}